body {
  font-family: Arial;
  background-color: antiquewhite;
  padding: 30px;
  color: rgb(54, 214, 161);
  background-image: url('./img/background.png');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 800px;
  margin: 0 auto 30px;
  background-color: aliceblue;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

button {
  color: tomato;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
  border: 1px solid #104a53;
  margin-right: 20px;
}

button:hover {
  opacity: 1;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #104a53;
}

.todo {
  background-color: aliceblue;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-form {
  padding-bottom: 1.5rem;
}

form {
  width: 100%;
}

input, select {
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #104a53;
  border-radius: 3px;
  width: 100%;
}

.complete {
  background-color: #5cb85c;
}

.remove {
  background-color: #d9534f;
}

.filter, .search {
  border-bottom: 1px solid #104a53;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.filter-options {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

.filter-options div {
  flex: 1 1 0;
}